<template>
  <div>
    <dashboardHeader></dashboardHeader>
    <dashboardMiddle
      header_title="Dashboard"
      header_subtitle="Um resumo das informações"
    >
      <div class="grid-card">
        <div class="el_card" v-for="card in dashboard" :key="card.id">
          <header>{{ card.total }}</header>
          <footer>
            <router-link :to="{ name: card.route }">
              {{ card.name }}
            </router-link>
          </footer>
        </div>
      </div>
    </dashboardMiddle>
  </div>
</template>

<script>
import dashboardHeader from "./../../components/header-dashboard";
import dashboardMiddle from "./Middle";
import env from "./../../env.ts";
export default {
  components: { dashboardHeader, dashboardMiddle },
  data() {
    return {
      dashboard: [
        {
          id: 1,
          name: "Usuários",
          total: "0",
          route: "dashboard.user",
          api: `${env.url_base}/user`,
        },
        {
          id: 2,
          name: "Empresas",
          total: "0",
          route: "dashboard.company",
          api: `${env.url_base}/company`,
        },
      ],
    };
  },
  created(){
    this.loading()
  },
  methods:{
    loading(){
      let data = this.dashboard
      data.forEach( (data, i) => {
        fetch(data.api)
        .then( res => res.json() )
        .then( res => {
          this.dashboard[i].total = res.total
        })
        .catch( res => console.log( "er", res ) )
      }) 
      
    }
  }
};
</script>

<style scoped>
.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 25px;
}
.grid-card .el_card {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}
.grid-card .el_card header {
  font-size: 4rem;
  font-weight: 900;
  line-height: 3rem;
  color: white;
  padding: 20px;
  margin: 0px;
  text-align: right;
  background: #0000005e;
  opacity: 0.4;
}
.grid-card .el_card main {
  font-size: 1rem;
  font-weight: 900;
  color: white;
  padding: 10px 20px;
  margin: 0px;
  background: #0000005e;
  opacity: 0.7;
}
.grid-card .el_card footer {
  border-top: 1px solid white;
}
.grid-card .el_card footer > * {
  display: block;
  font-size: 1rem;
  font-weight: 900;
  color: white;
  background: #0000005e;
  opacity: 0.9;
  padding: 10px 20px;
  margin: 0px;
  text-decoration: none;
}
</style>