<template>
  <div class="container-fluid mt-md-4">
    <div class="row">
      <div class="col-md-2 py-md-0 py-4">
        <div class="list-group">
          <router-link
            :to="{ name: 'dashboard.index' }"
            class="list-group-item list-group-item-action sidebar"
            >Dashboard</router-link
          >
          <router-link
            :to="{ name: 'dashboard.user' }"
            class="list-group-item list-group-item-action"
            >Usuários</router-link
          >
          <router-link
            :to="{ name: 'dashboard.company' }"
            class="list-group-item list-group-item-action"
            >Empresas</router-link
          >
        </div>
      </div>
      <div class="col-md bg-light p-4">
        <header class="mb-4">
          <h1>{{ header_title }}</h1>
          <h5>{{ header_subtitle }}</h5>
        </header>
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["header_title", "header_subtitle"],
};
</script>

<style scoped>
header > * {
  color: #272728;
  padding: 0px;
  margin: 0px;
}
header > h1 {
  font-size: 3rem;
  font-weight: 100;
}
header > h5 {
  font-size: 1rem;
  font-weight: 900;
  text-indent: 6px;
}
.sidebar {
  color: white;
  font-weight: 600;
  border: 1px solid #8bc6ec;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}
</style>