<template>
  <section class="grid">
    <div class="grid-image"></div>
    <div class="grid-form">
      <FormLogin />
    </div>
  </section>
</template>

<script>
import FormLogin from "../components/form-login"
export default {
  components: {
    FormLogin,
  },
};
</script>

<style scoped>
.grid {
  display: grid;
  grid-template: " gi gf " 100vh/ 1fr minmax(0px, 550px);
}
.grid-image {
  grid-area: gi;
  background: url("../assets/banner-index.jpg") left center no-repeat;
  background-size: cover;
  opacity: 0.6;
}
.grid-form {
  grid-area: gf;
}
</style>