<template>
  <div>
    <dashboardHeader></dashboardHeader>
    <dashboardMiddle
      header_title="Empresa"
      header_subtitle="Cadastro de empresas"
    >
      <div class="row">
        <div class="col-md-6">
          <div
            class="row gy-2 gx-4 needs-validation"
            :class="{ 'was-validated': hasValidated }"
          >
            <div class="col-md-12">
              <label class="form-label">Nome completo</label>
              <input
                type="text"
                class="form-control"
                required
                v-model="form.name"
              />
              <div class="invalid-feedback">
                Preencha corretamente o nome completo
              </div>
            </div>

            <div class="col-md-12">
              <label class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                required
                v-model="form.email"
              />
              <div class="invalid-feedback">Preencha corretamente o email</div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Telefone</label>
              <input
                type="text"
                class="form-control"
                v-mask-phone.br
                v-model="form.telephone"
              />
              <div class="invalid-feedback">
                Preencha corretamente o telefone
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Data de Nascimento</label>
              <input type="date" class="form-control" v-model="form.birth" />
              <div class="invalid-feedback">
                Preencha corretamente a data de nascimento
              </div>
            </div>

            <div class="col-md-12">
              <label class="form-label">Cidade</label>
              <input type="text" class="form-control" v-model="form.city" />
              <div class="invalid-feedback">Preencha corretamente o cidade</div>
            </div>
          </div>
        </div>

        <div class="col-md-6" v-if="!companyShow">
          <div class="col-md-12">
            <div class="col-md-12">
              <label class="form-label">Empresa</label>
            </div>
            <div class="row g-4">
              <div class="col-5">
                <div class="input-group input-group-sm mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Procurar Empresa"
                    v-model="companySearch"
                  />
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    @click="showSearchCompany()"
                  >
                    <span class="material-icons">search</span>
                  </button>
                </div>
                <select
                  class="form-select form-select-sm"
                  size="10"
                  @change="addCompany($event)"
                  v-if="companies.length > 0"
                >
                  <option v-for="(company, i) in companies" :key="i" :value="i">
                    {{ company.name }}
                  </option>
                </select>
                <div class="py-4" v-else>
                  <p class="fw-bold">Nenhuma empresa encontrada</p>
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    @click="showForm()"
                  >
                    Cadastrar uma empresa
                  </button>
                </div>
              </div>
              <div class="col-7">
                <table
                  class="table table-striped table-sm"
                  v-if="companiesActive.length > 0"
                >
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">Empresa(s) vinculada(s)</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(company, index) in companiesActive"
                      :key="index"
                    >
                      <td>{{ company.name }}</td>
                      <td width="1%">
                        <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          @click="removeCompany(index)"
                        >
                          Remover
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="p-5 mb-4 bg-dark text-light rounded-3" v-else>
                  <div class="container-fluid py-3">
                    <p class="col-md-12">Nenhuma empresa selecionada</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6" v-else>
          <div
            class="col-md-12 needs-validation"
            :class="{ 'was-validated': hasValidated }"
          >
            <div class="col-md-12">
              <label class="form-label">Empresa</label>
              <input
                type="text"
                class="form-control"
                required
                v-model="formCompany.name"
              />
              <div class="invalid-feedback">
                Preencha corretamente o nome da empresa
              </div>
            </div>
            <div class="col-md-12">
              <label class="form-label">CNPJ</label>
              <input
                type="text"
                class="form-control"
                required
                v-model="formCompany.cnpj"
                v-mask-cnpj
              />
              <div class="invalid-feedback">Preencha corretamente o CNPJ</div>
            </div>
            <div class="col-md-12">
              <label class="form-label">Endereço</label>
              <input
                type="text"
                class="form-control"
                required
                v-model="formCompany.address"
              />
              <div class="invalid-feedback">
                Preencha corretamente o endereço
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-12 py-4">
            <button class="btn btn-dark" @click="sendForm()">Salvar</button>
          </div>
        </div>
      </div>
    </dashboardMiddle>
  </div>
</template>

<script>
import dashboardHeader from "./../../../components/header-dashboard";
import dashboardMiddle from "./../Middle";
import env from "./../../../env.ts";
export default {
  components: { dashboardHeader, dashboardMiddle },
  data() {
    return {
      form: {
        name: "",
        email: "",
        telephone: "",
        birth: "",
        city: "Santa Vity",
      },
      formCompany: {
        name: "",
        cnpj: "",
        address: "",
      },
      hasValidated: false,
      companies: [],
      companiesActive: [],
      companyShow: false,
      companySearch: null,
      userReturn: null,
      companyReturn: null,
    };
  },
  created() {
    this.showAllCompany();
  },
  methods: {
    showAllCompany() {
      fetch(`${env.url_base}/company`)
        .then((res) => res.json())
        .then((res) => {
          this.companies = res.data;
        })
        .catch((res) => console.log(res));
    },
    showSearchCompany() {
      if (!this.companySearch) {
        return;
      }
      let search = this.companySearch;
      fetch(`${env.url_base}/company/search/${search}`)
        .then((res) => res.json())
        .then((res) => {
          this.companies = res.data;
        })
        .catch((res) => console.log(res));
    },
    addCompany(event) {
      let index = event.target.value;
      let row = this.companies[index];
      let existRow = this.companiesActive.includes(row);
      if (!existRow) {
        this.companiesActive.push(row);
      }
    },
    removeCompany(index) {
      this.companiesActive.splice(index, 1);
    },
    showForm() {
      this.companiesActive = [];
      this.companyShow = !this.companyShow;
    },
    sendForm() {
      let form = this.form;
      let formCompany = this.formCompany;
      this.hasValidated = true;
      if (form.name == null || form.name == "") {
        return;
      }
      if (form.email == null || form.email == "") {
        return;
      }
      if (this.companyShow) {
        if (formCompany.name == null || formCompany.name == "") {
          return;
        }
        if (formCompany.cnpj == null || formCompany.cnpj == "") {
          return;
        }
        if (formCompany.address == null || formCompany.address == "") {
          return;
        }
      }

      if (this.companiesActive.length > 0) {
        this.createUser()
          .then((res) => console.log(res))
          .then(() => {
            let companies = this.companiesActive

            console.log( companies )

            debugger;
            console.log("juntar tudo");
          });
      } else {
        this.createUser()
          .then((res) => {
            console.log("CreateUser", res);
            this.userReturn = res;
            return this.createCompany();
          })
          .then((res) => {
            console.log("createCompany", res);
            this.companiesActive = this.companyReturn = res;
            console.log(this.userReturn.id, this.companyReturn.id);
            return this.unionUserCompany(
              this.userReturn.id,
              this.companyReturn.id
            );
          })
          .then((res) => console.log(res))
          .finally(() => this.$router.push({ name: "dashboard.user" }));
      }
    },
    async createUser() {
      let headers = new Headers();
      headers.append("content-type", "application/json");
      headers.append("Accept", "application/json");

      let body = JSON.stringify(this.form);

      let init = {
        method: "POST",
        headers,
        body,
      };
      try {
        let response = await fetch(`${env.url_base}/user`, init);
        return await response.json();
      } catch (error) {
        throw error;
      }
    },
    async createCompany() {
      let headers = new Headers();
      headers.append("content-type", "application/json");
      headers.append("Accept", "application/json");

      let body = JSON.stringify(this.formCompany);

      let init = {
        method: "POST",
        headers,
        body,
      };
      try {
        let response = await fetch(`${env.url_base}/company`, init);
        return await response.json();
      } catch (error) {
        throw error;
      }
    },
    async unionUserCompany(id, company_id) {
      let headers = new Headers();
      headers.append("content-type", "application/json");
      headers.append("Accept", "application/json");
      let init = {
        method: "PATCH",
        headers,
      };
      let url = `${env.url_base}/user/${id}/company/${company_id}`;

      try {
        let response = await fetch(url, init);
        return await response.json();
      } catch (error) {
        throw error;
      }
    },
  },
};
</script>

<style>
</style>