<template>
  <div class="formLogin">
    <div class="img-center">
      <img src="../assets/logo-contato-seguro.png" width="100%" height="120"/>
    </div>
    <h3 class="formLogin__title">Painel de Controle</h3>
    <section class="my-4">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Password"
        />
        <label for="floatingInput">Usuário</label>
      </div>

      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Senha</label>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-6">
          <button type="button" class="btn btn-gradient" @click="openDashboard">Acessar o sistema</button>  
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "formLogin",
  methods:{
    openDashboard(){
      this.$router.push({ name: 'dashboard.index' })
    }
  }
};
</script>

<style scoped>
.formLogin {
  background: white;
  margin: 30px;
  padding: 20px;
}
.img-center>img{
  object-fit: contain;
}
.formLogin__title{
  padding: 20px 0px;
  color: #292e49;
  font-weight: 800;
}
.btn-gradient{
  width: 100%;
  background: linear-gradient(to right,  #536976, #292e49);
  color: white;
  border: none;
}
.btn-gradient:hover{
  background: linear-gradient(to left,  #536976, #292e49);
}
</style>