<template>
  <header class="bg-light p-4">
    <section class="row align-items-center">
      <div class="col-2">
        <img src="../assets/logo-contato-seguro.png" class="img-logo" />
      </div>
      <div class="col">
        <p class="isTitleHeader">PAINEL DE CONTROLE</p>
      </div>
      <div class="col-md-1 col-2">
        <router-link to="/" class="btn btn-outline-danger btn-large"> Sair </router-link>
      </div>
    </section>
  </header>
</template>

<script>
export default {
    name: "dashboardHeader"
};
</script>

<style scoped>
.img-logo {
  width: 100%;
}
.isTitleHeader{
  padding:0px;
  margin:0px;
  font-size:1.5rem;
  font-weight: 100;
  color: #272728;
}
.btn-large{
  display: block;
}
</style>