<template>
  <div>
    <dashboardHeader></dashboardHeader>
    <dashboardMiddle
      header_title="Usuários"
      header_subtitle="Lista de usuários cadastrados"
    >
      <div class="datatable py-4">
        <div class="row">
          <div class="col">
            <router-link
              :to="{ name: 'dashboard.user.new' }"
              class="btn btn-dark"
              >+</router-link
            >
          </div>
          <div class="col-6">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Pesquisar"
                aria-label="Pesquisar"
                v-model="search.query"
              />
              <select
                class="form-select"
                aria-label="Selecione um filtro"
                @change="setField($event)"
              >
                <option value="name" selected>Filtrar por:</option>
                <option
                  v-for="(option, i) in filter"
                  :key="i"
                  :value="option.field"
                >
                  {{ option.name }}
                </option>
              </select>
              <button class="btn btn-dark" type="button" @click="onSearch()">
                Pesquisar
              </button>
              <button v-if="search.refresh" class="btn btn-danger" type="button" @click="refreshList()">
                Reiniciar
              </button>
            </div>
          </div>
        </div>

        <main v-if="table.length > 0">
          <div class="table-responsive mt-4">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Email</th>
                  <th scope="col">Telefone</th>
                  <th scope="col">Nascimento</th>
                  <th scope="col">Cidade</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="row in table" :key="row.id">
                  <th scope="row">{{ row.id }}</th>
                  <td>{{ row.name }}</td>
                  <td>{{ row.email }}</td>
                  <td>{{ $filters.maskCel(row.telephone) }}</td>
                  <td>{{ $filters.dateBr(row.birth) }}</td>
                  <td>{{ row.city }}</td>
                  <td>
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Basic example"
                    >
                      <router-link
                        :to="{
                          name: 'dashboard.user.edit',
                          params: { user: row.id },
                        }"
                        class="btn btn-dark"
                      >
                        <span class="material-icons">edit</span>
                      </router-link>
                      <button
                        type="button"
                        class="btn btn-danger"
                        @click="confirmeDelete(row.id)"
                      >
                        <span class="material-icons">delete</span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <nav>
            <ul class="pagination">
              <li class="page-item" v-for="(page, i) in paginate" :key="i">
                <a
                  class="page-link"
                  @click="fetchApiList(page.url)"
                  v-html="page.label"
                ></a>
              </li>
            </ul>
          </nav>
        </main>

        <div class="p-5 mb-4 bg-light rounded-3" v-else>
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Nenhum resultado encontrado</h1>
            <p class="col-md-5 fs-4">
              Modifique os termos da pesquisa, utilize os filtros, ou crie um
              novo
            </p>
            <router-link
              :to="{ name: 'dashboard.user.new' }"
              class="btn btn-dark"
              ><strong class="me-2">+</strong>Novo</router-link
            >
          </div>
        </div>
      </div>
    </dashboardMiddle>
  </div>
</template>

<script>
import dashboardHeader from "./../../../components/header-dashboard";
import dashboardMiddle from "./../Middle";
import env from "./../../../env.ts";
export default {
  components: { dashboardHeader, dashboardMiddle },
  data() {
    return {
      table: [],
      paginate: [],
      current_page: null,
      filter: [
        { field: "name", name: "Nome" },
        { field: "email", name: "Email" },
        { field: "telephone", name: "Telefone" },
        { field: "birth", name: "Data de Nascimento" },
        { field: "city", name: "Cidade" },
      ],
      search: {
        field: null,
        query: null,
        refresh: false,
      },
    };
  },
  created() {
    this.fetchApiList(`${env.url_base}/user`);
  },
  mounted() {
    this.fetchApiList(`${env.url_base}/user`);
  },
  methods: {
    refreshList() {
      this.search = {
        field: null,
        query: null,
        refresh: false,
      };
      this.fetchApiList(`${env.url_base}/user`);
    },
    fetchApiList(url) {
      fetch(url)
        .then((res) => res.json())
        .then((res) => {
          this.refreshPagination(res.links, res.current_page);
          this.table = res.data;
        })
        .catch((res) => console.log(res));
    },
    refreshPagination(links, atual) {
      this.paginate = links;
      this.paginate[0].label = "Anterior";
      this.paginate[this.paginate.length - 1].label = "Próximo";
      this.current_page = atual;
    },
    setField(event) {
      this.search.field = event.target.value;
    },
    confirmeDelete(id) {
      if (confirm("Comfirmar exclusão ?")) {
        let url = `${env.url_base}/user/${id}`
        fetch(url, {
          method: "DELETE",
        })
          .then((_) => this.refreshList())
          .catch((res) => console.log("ER", res));
      }
    },
    onSearch() {
      let query = this.search.query;
      if (query) {
        let url =
          `${env.url_base}/user/search/` +
          query +
          (this.search.field ? "/" + this.search.field : "");
        this.fetchApiList(url);
        this.search.refresh = true;
      }
    },
  },
};
</script>

<style scoped>
.material-icons {
  font-size: 100%;
}
</style>