@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body{
    /* background: linear-gradient(45deg, #FC466B, #3F5EFB); */
    background: linear-gradient(to right, #bbd2c5, #536976, #292e49);
    height: 100vh;
    margin:0px;
    padding:0px;
    font-family: 'Lato', sans-serif;
}